extends layout
block conteudo
    .w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h3 Tese Recebida
            .w3-container
                table.w3-table.all
                    tr
                        th Nome
                        td= tese.nome
                    tr
                        th Número / Identificador
                        td= tese.numero
                    tr
                        th Curso
                        td= tese.curso
                    tr
                        th Instituição
                        td= tese.instituicao
                    tr
                        th Título
                        td= tese.titulo
                    tr
                        th Data
                        td= tese.data
                    tr
                        th Tipo
                        td= tese.tipo
            footer.w3-container.w3-teal
                p
                    a(href='http://localhost:7000/')
                        | Voltar à Página Principal
                address Gerado por Registo de Teses App de JG.
